body {
    margin: 0px;
    background-color: #f5f5f5;
}

input {
    border: 1px solid #ccc;
    margin: 2px;
    padding: 5px;
}
input:focus {
    border: 1px solid #27527e;
}

select {
    display: block;
}

img {
    display: block;
}

.hide {
    display: none;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 320px;
    height: 320px;
}

button {
    display: inline-block;
    width: auto;
    background: #76aadf none repeat scroll 0 0;
    color: white;
    font-weight: 400;
    border-color: #4d90d5;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px 0;
    display: inline-block;
    height: 48px;
    padding: 5px;
    margin: 10px;
}

.button-selected {
    background: #27527e none repeat scroll 0 0
}

.inline-block {
    display: inline-block;
}

.left-block {
    display: inline-block;
    width: 55%;
}

.right-block {
    display: inline-block;
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 20px;
    width: 40%;
}
.right-block img {
    max-width: 100%;
}

.item-block {
    display: inline-block;
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 20px;
    margin: 5px;
    width: 400px;
}
.item-block img {
    max-width: 400px;
}

.header {
    margin: 0px;
    padding: 0px 20px;
    height: 70px;
    background-color: #202020;
    background-image: url("https://zazzy.co/static/co/img/logo/circled-logo-pp.png");
    background-repeat: no-repeat;
    background-origin: content-box;
}

.subheader {
    margin: 0px;
    height: 150px;
    background-color: #76aadf;
}

#container {
    margin: 20px auto;
    max-width: 1024px;
}

.editorContainer {
    margin: 20px;
    padding: 10px;
}

.keyName {
    width: 200px;
    font-weight: bold;
}

.keyValue {
    width: 200px;
    margin-bottom: 10px;
}
